@tailwind base;
@tailwind components;
@tailwind utilities;


#parent {
    box-shadow: 5.0px 5.0px rgba(0, 0, 0, 1);
    transition: box-shadow 0.3s ease; 
}

#parent:has(#child:hover) {
    box-shadow: 10.0px 10.0px rgba(0, 0, 0, 1);
}
